@import "variables";
@import "mixins.scss";
@import "media-query.scss";
@import "typography";
@import "common.scss";

// Header Style
@import "templates/header.scss";
// Navigation Menu
@import "templates/navigation.scss";
@import "templates/backgrounds.scss";
// Banner Style
@import "templates/slider.scss";
// About Section
@import "templates/about.scss";
// Feature Section
@import "templates/feature.scss";
// Counter Section
@import "templates/counter.scss";
// Doctors section
@import "templates/team.scss";
// Service section
@import "templates/service.scss";
// Department section
@import "templates/department.scss";
// Call to action section
@import "templates/cta.scss";
// Testimonial Section
@import "templates/review.scss";
// Contact Section
@import "templates/contact.scss";
// Blog Posts
@import "templates/blog.scss";
// Single Blog posts
@import "templates/single-post.scss";
// Blog Sidebar
@import "templates/blog-sidebar.scss";
// Footer
@import "templates/footer.scss";
