<div class="row">
	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-1.jpg" alt="" class="img-fluid ">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">
					<span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
				</div> 

				<h2 class="mt-3 mb-3"><a href="blog-single.html">Choose quality service over cheap service  all type of things</a></h2>

				<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid architecto facere commodi cupiditate omnis voluptatibus inventore atque velit cum rem id assumenda quam recusandae ipsam ea porro, dicta ad.</p>

				<a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Read More <i class="icofont-simple-right ml-2  "></i></a>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-2.jpg" alt="" class="img-fluid">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">
					<span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
				</div> 

				<h2 class="mt-3 mb-3"><a href="blog-single.html">All test cost 25% in always in our laboratory</a></h2>
				
				<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid architecto facere commodi cupiditate omnis voluptatibus inventore atque velit cum rem id assumenda quam recusandae ipsam ea porro, dicta ad.</p>

				<a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Read More <i class="icofont-simple-right ml-2  "></i></a>
			</div>
		</div>
	</div>


	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-4.jpg" alt="" class="img-fluid">
			</div>

			<div class="blog-item-content">
				<div class="blog-item-meta mb-3 mt-4">
					<span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
				</div> 
				<h2 class="mt-3 mb-3"><a href="blog-single.html">Get Free consulation from our special surgeon and doctors</a></h2>

				<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid architecto facere commodi cupiditate omnis voluptatibus inventore atque velit cum rem id assumenda quam recusandae ipsam ea porro, dicta ad.</p>

				<a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Read More <i class="icofont-simple-right ml-2  "></i></a>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12">
		<nav class="pagination py-2 d-inline-block">
			<div class="nav-links">
				<span aria-current="page" class="page-numbers current">1</span>
				<a class="page-numbers" href="#!">2</a>
				<a class="page-numbers" href="#!">3</a>
				<a class="page-numbers" href="#!"><i class="icofont-thin-double-right"></i></a>
			</div>
		</nav>
	</div>
</div>