<section class="section case-study">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="case-study-content text-center mb-5">
					<h2 class="mb-4">How we works</h2>
					<p>There are many variations of lorem passages of Lorem Ipsum available, but the majority have suffered. All the Lorem Ipsum generators.</p>
				</div>
			</div>
		</div>



		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>
			
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="case-img ">
						<img src="images/about/process-3.jpg" alt="" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="case-content">
						<h4 class="mb-3">Competitor Research</h4>
						<p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
					</div>
				</div>
			</div>
		</div>


		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>
			<div class="row align-items-center">	
				<div class="col-lg-6 order-2 order-lg-1">
					<div class="case-content">
						<h4 class="mb-3">Making Functional Strategy</h4>
						<p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
					</div>
				</div>
				<div class="col-lg-6  order-1 order-lg-2">
					<div class="case-img">
						<img src="images/about/process-2.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>

		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>

			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="case-img">
						<img src="images/about/process-1.jpg" alt="" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="case-content">
						<h4 class="mb-3">Project Outline</h4>
						<p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>

			<div class="row align-items-center">
					<div class="col-lg-6 order-2 order-lg-1">
					<div class="case-content">
						<h4 class="mb-3">Final Delivery</h4>
						<p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
					</div>
				</div>

				<div class="col-lg-6  order-1 order-lg-2">
					<div class="case-img">
						<img src="images/about/structure_sass.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

