<section class="section pricing">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="heading text-center mb-50">
					<h2 class="">Our pricing</h2>
					<p class="">Labore tempore ratione magnam iste sint dicta dolor doloremque similique tempora optio, expedita veritatis enim nam itaque illum excepturi id dolores, officia?</p>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="pricing-block card text-center">
					<div class="price-header">
						<span class="text-uppercase letter-spacing h5">Basic</span>
						<h2>$29.99</h2>
						<h6 class="text-muted">Yearly</h6>
					</div>

					<div class="price-body">
						<ul class="list-unstyled mb-0">
							<li>50 gb Hosting</li>
							<li>Business  Analysis</li>
							<li>24 Hours Support</li>
							<li>Customer Management</li>
						</ul>
					</div>

					<div class="price-footer">
						<a href="#" class="btn btn-main">Choose plan</a>
					</div>

					<a href="#" class="text-underline">Get your 7 Days Free trial</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-block card text-center featured">
					<div class="price-header">
						<span class="text-uppercase letter-spacing h5">Standard</span>
						<h2>$29.99</h2>
						<h6>Yearly</h6>
					</div>

					<div class="price-body">
						<ul class="list-unstyled mb-0">
							<li>50 gb Hosting</li>
							<li>Business  Analysis</li>
							<li>24 Hours Support</li>
							<li>Customer Management</li>
						</ul>
					</div>

					<div class="price-footer">
						<a href="#" class="btn btn-main">Choose plan</a>
					</div>

					<a href="#" class="text-underline">more additional features</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-block card text-center">
					<div class="price-header">
						<span class="text-uppercase letter-spacing h5">Premium</span>
						<h2>$29.99</h2>
						<h6 class="text-muted">Yearly</h6>
					</div>

					<div class="price-body">
						<ul class="list-unstyled mb-0">
							<li>50 gb Hosting</li>
							<li>Business  Analysis</li>
							<li>24 Hours Support</li>
							<li>Customer Management</li>
						</ul>
					</div>

					<div class="price-footer">
						<a href="#" class="btn btn-main">Choose plan</a>
					</div>

					<a href="#" class="text-underline">More advance features</a>
				</div>
			</div>
		</div>
	</div>
</section>