<section class="section service">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<div class="heading">
					<h2 class="mb-4">Industry Leading Managed <br>Services & Staffing Solutions</h2>
					<p>Quos recusandae dolore, consequuntur nemo hic nisi perferendis. Vel praesentium magnam architecto delectus blanditiis doloremque, deleniti aperiam ab adipisci!</p>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-4 col-md-6">
				<div class="service-item-list">
					<i class="ti-panel"></i>
					<p>Flexible Engagement <br>Models </p>
				</div>
				<div class="service-item-list">
					<i class="ti-desktop"></i>
					<p>Custom Software <br>Development</p>
				</div>
				<div class="service-item-list">
					<i class="ti-light-bulb"></i>
					<p>Product Innovation &<br>Technology</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="service-item-list">
					<i class="ti-mobile"></i>
					<p>Mobility<br> Service</p>
				</div>
				<div class="service-item-list">
					<i class="ti-check-box"></i>
					<p>Quality <br>Assurance</p>
				</div>
				<div class="service-item-list">
					<i class="ti-dashboard"></i>
					<p>Enterprise <br>Solution</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="service-item-list">
					<i class="ti-headphone-alt"></i>
					<p>Integrated & Dedicated<br> Teams</p>
				</div>
				<div class="service-item-list">
					<i class="ti-bar-chart-alt"></i>
					<p>Big data and<br> analytics</p>
				</div>
				<div class="service-item-list">
					<i class="ti-cloud-up"></i>
					<p>Cloud backup <br>System</p>
				</div>
			</div>
		</div>
	</div>
</section>